<label for="username">Username:</label>
<input id="username" type="text" [(ngModel)]="username">
<p>{{username}}</p>
<button 
    class="btn btn-primary"
    (click)="resetUsername()"
    [disabled]="!username">
        Reset Username
</button>