<label>Server Name</label>
<!--<input
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)">-->

<input
    type="text" 
    class="form-control"
    [(ngModel)]="serverName">
<!--<p>{{ serverName }}</p>-->

<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="createNewServer()">
Add Server</button>
<!--<p [innerText] = "allowNewServer"></p>-->
<!--<p>{{ serverCreated }}</p>-->
<p *ngIf="newServer">New server created called {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>